* {
  font-family: Arial;
  box-sizing: border-box;
}
 
body {
  font-family: Arial;
  padding: 0px;
  background:white;
}

/* Start Class header */
.header {
  width: 100%;
  text-align: left;
  background: rgb(255, 255, 255);
}

.cari {
  position: absolute;
  top: 50px;
  right: 20px;
  background: white;
}

.input{
  border-radius: 10px;
  background: url(Picture/cari.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right
}
/* Close Class header */

.header h1 {
  font-size: 50px;
}

/* Start Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(25, 150, 233);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #63b1e6;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #8383835b;}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Close Navbar */

/*=====content=====*/

.content{
  margin:30px auto;
  text-align: center;
  border-radius: 5px;
}

.iklan{
  width: 307px;
}

.iklan img{
  width: 307px;
  height: 170px;
}
.articel{
  width: 307px;
  margin:50px 65px;
  display: inline-block;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.contoh h3{
  display: inline-block;
  margin: 0;
  padding: 10px;
  text-align: left;
}

.contoh{
  display: inline-block;
  margin: 0;
  padding: 10px;
  text-align: left;
}

.line{
  text-align: center;
  border-radius: 10px;
}

.line span strong{
  font-size: 30px;
  color: white;

}

/* author */
.author {
  padding: 20px;
  background: white;
  margin-top: 10px;
  border: 20px double rgb(25, 150, 233);
  border-radius: 10px;
}

.author h2{
  position: relative;
  top: 0px;
  font-family: arial;
}


.imgauthor img{
  float: left;
  margin-left: 190px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: red;
}

.imgauthor2 img{
  margin-left: 270px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: red;
}

/* Footer */
.footer {
  padding: 70px;
  background:linear-gradient(#248f40, #248f86, #24668f);
  margin-top: 20px;
}

.footerPic{
  float: left;
  margin-top: -45px;
  margin-right: 30px;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  ul li a {
    float: none;
    width: 100%;
  }
}
