* {
  font-family: Arial;
  box-sizing: border-box;
}
 
body {
  font-family: Arial;
  padding: 0px;
  background:white;
}

/* Start Class header */
.header {
  width: 100%;
  text-align: left;
  background: rgb(255, 255, 255);
}

.cari {
  position: absolute;
  top: 50px;
  right: 20px;
  background: white;
}

.input{
  border-radius: 10px;
  background: url(Picture/cari.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right
}
/* Close Class header */

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(25, 150, 233);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 8);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 70%;
  height: 25%;
}

b{
  font-size: 50px;
}

.sosmed{
  margin-top: 20px;
  float: left;
  background: white;
  width: 5%;
  height: 170px;
}

.cardSos{
  text-align: center;
  width: 40px;
  height: 55px;
  border: 1px solid black;
  border-radius: 4px;
}

.paragraf{
  margin-top: 5px;
  margin-left: 30px;
  float: left;
  width: 90%;
  font-size: 20px;
  line-height: 30px;
}

#picture{
  margin-top: 5px;
}

#font{
  font-size: 8px;
  margin-top: 1px;
}

.garisVertikal{
  float: left;
  position: relative;
  left: 35px;
  border-radius: 10px;;
  background: grey;
  margin-top: 20px;
  width: 10px;
  height: 1350px;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  background-color: #ffffff;
  padding-left: 20px;
}

#judulKanan{
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: rgb(25, 150, 233);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 5);
}

#BK{
  float: left;
  margin-top: 10px;
  border-radius: 10px;
}

#textKanan{
  position: relative;
  top: 13px;
  left: 7px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 0px;
  margin-top: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* author */
.author {
  padding: 20px;
  background: white;
  margin-top: 10px;
  border: 20px double rgb(25, 150, 233);
  border-radius: 10px;
}

.author h2{
  position: relative;
  top: 0px;
  font-family: arial;
}


.imgauthor img{
  float: left;
  margin-left: 190px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: red;
}

.imgauthor2 img{
  margin-left: 270px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: red;
}
/* Footer */
.footer {
  padding: 70px;
  background:linear-gradient(#248f40, #248f86, #24668f);
  margin-top: 20px;
}

.footerPic{
  float: left;
  margin-top: -45px;
  margin-right: 30px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  .garisVertikal{
    display: none;
  }

}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
